<div class="card border-light mb-3">
    <div class="card-header">Course </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <div class="card-text">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>Test Course</td>
                        <td><button class="btn btn-danger">Enrol</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>