<nx-workspace-alerts *ngIf="isShowAlert$ | async"></nx-workspace-alerts>
<main class="login-form">
    <h3 class="text-center">
        Moodle Login
    </h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" class="form-control" aria-describedby="username-feedback" required
                formControlName="username">
            <div id="username-feedback" class="invalid-feedback">
                <div *ngIf="loginForm.controls['username'].errors?.['required']">
                    Username is required
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" aria-describedby="password-feedback" required
                formControlName="password">
            <div id="password-feedback" class="invalid-feedback">
                <div *ngIf="loginForm.controls['password'].errors?.['required']">
                    Username is required
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        Or
        <a href="#" class="link-primary">Register User</a>
    </form>
</main>