<main class="login-form">
    <h3 class="text-center">
        Moodle Login
    </h3>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" class="form-control" aria-describedby="username-feedback" required>
            <div id="username-feedback" class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" aria-describedby="password-feedback" required>
            <div id="password-feedback" class="invalid-feedback"></div>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
        Or
        <a href="#" class="link-primary">Register User</a>
    </form>
</main>